# =========================
# PYTHON / FASTAPI
# =========================

# Environnement virtuel
.venv/
venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Tests / couverture
.pytest_cache/
.coverage
htmlcov/

# =========================
# REACT / NODE / VITE
# =========================

# Dépendances Node
node_modules/

# Build
dist/
build/

# Cache Vite
.vite/

# Logs npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# VARIABLES D'ENVIRONNEMENT
# =========================

.env
.env.local
.env.*.local

# =========================
# IDE
# =========================

# VS Code
.vscode/

# JetBrains / PyCharm
.idea/

# =========================
# OS
# =========================

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store